body{
    font-family:Helvetica;

}
.lewy1{
    height:400px;
    width:100%;
    background-color: snow;
    text-align: center;
    float: left;
}
.lewy2{
    height:400px;
    width:100%;
    background-color:snow;
    font-size:150%;
    float: left;
}
.prawy1{
    height:150px;
    width:100%;
    background-color: steelblue;
    color:white;
    text-align: center;
    float: left;
}
.prawy2{
    height:350px;
    width:100%;
    background-color: steelblue;
    color:white;
    float: left;
}
.prawy3{
    height:300px;
    width:100%;
    background-color: snow;
    text-align: center;
    float: left;
}
.lewy{
    float:left;
    width:70%;
}
.prawy{
    float:left;
    width:30%;
}
.stopka{
    background-color: steelblue;
    color: white;
    float: left;
}
h2{
    font-size: 250%;
}
img{
    padding:4px;
}
img.hover{
    padding: 3px;
    border:1px solid steelblue;
}