body {
    font-family: fantasy;
    background: url(./zdjtlo.jpg);
    background-size: contain;
   
}

.obrazek {
    border: 3px solid #fff;
    width: 600px;
    height: 500px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
  }

  .letter_password {
    padding: 15px;
    border-bottom: 3px solid #fff;
    margin: 3px;
  }

  .empty_letter_password {
    padding: 15px;
    margin: 3px;
    border-bottom: 0px !important;
  }

  .litery {
    clear: both;
    text-align: center;;
    margin-top: 20px;
  }

  .litery input {
      border: 2px solid yellow;
      background-color: white;

  }

  #haslo {
    display: block;
    text-align: center;
    float: left;
    height: 65px;
    width: 100%;
    color: white;
    font-size: 45px;
    margin-bottom: 50px;
  }

.xd {
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px black;
}

.beka {
    color: rgb(253, 97, 97);
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px black;
}
