body {
    font-family: Georgia;
} 
.baner1, .baner2{
    background-color:  #3CB371;
    color:white;
    height: 100px;
    width: 40%;
}
.baner3{
    background-color: #3CB371;
    width: 20%;
    height: 100px;
}
.stopka{
    background-color:  #3CB371;
    color:white;
    width: 100%; 
}
h6 {
    text-align: right;
}
form {
    padding:30px;
}
.baner1, .baner2, .baner3, .stopka{
    float:left;
}

.dane {
    background-color: #ffdab9;
    width: 170px;
    height: 90px;
    padding: 5px;
    border:1px solid #3cb371;
    float: left;
}