body {
    background-image: url(./tlo.png);
    background-size: 100%;
    text-align: center;
    background-color: cyan;
 }
 .k1{
     height: 250px;
     width: 150px;
 }
 .kom, .ilosc {
     color: black;
 }
 .k1.player1 {
     background-color: blue;
 }
 .k1.player2{
     background-color: brown;
 }