body{
    background-color: #99FFCC;
}
div{
    width:1000px;
}
.baner{
        background-color:#99FF66;
        height:200px;
}
.menu{
    background-color: #66CCFF;
    text-align: center;
    margin: 20px,0px;
}
.glowny{
    width:310px;
    padding:10px;
}
.stopka{
    background-color:#66CCFF;
    color:#006666;
    text-align: right;
    height:30px;
    padding:20px;
}
a{
    color: #006666;
    margin: 50px;
    font-size: 200%;
    text-decoration: none;
}
