body {
    font-family: Georgia;
}
.baner_lewy, .baner_srodek, .baner_prawy, .stopka_lewy, .stopka_srodek, .stopka_prawy {
    background-color: sienna;
    color: white;
    height: 150px;
    float: left;
}
.baner_lewy, .stopka_lewy {
    width: 40%;
}
.baner_srodek, .stopka_srodek {
    width: 50%;
    font-size: 150%;
    float: left;
}
.baner_prawy, .stopka_prawy {
    width: 10%;
    text-align: center;
    float: left;
}
.srodek {
    background-color: tan;
    padding: 100px;
    clear: both;
}
a {
    border: 1px dashed sienna ;
    background-color: tan;
    color: sienna;
    padding: 40px;
    line-height: 150px;
}
ul {
    list-style-type: circle;
}