body{
    font-family: Helvetica;

}
.blok_lewy{
    background-color: Navy;
    color: white;
    width: 25%;
    height: 700px;
    float: left;
}
.prawy1{
    background-color: RoyalBlue;
    height: 100px;
    width: 75%;
    text-align: center;
    float: right;

}
.prawy2{
    background-color: SteelBlue;
    height: 300px;
    width: 75%;
    float: right;

}
.prawy3{
    background-color: RoyalBlue;
    height:300px;
    width: 75%;
    text-align: center;
    float: right;

}
.stopka{
    background-color: SteelBlue;
    text-align: center;
    padding:20px;
    width:98%;
    float: left;
}
h1{
    letter-spacing:5px;
}
form{
    margin: 30px;
    line-height: 3;
}
form.hover{
    background-color: DeepSkyBlue;
}