.body{
    font-family: Georgia;
}
.baner_lewy , .baner_srodkowy, .baner_prawy, .stopka1, .stopka2, .stopka3{
        background-color: sienna;
        color: white;
        height: 150px;
        float:left;
}
.baner_lewy, .stopka1 {
    width: 40%;
}
.baner_srodkowy, .stopka2 {
    width: 50%;
    font-size: 150%;
}
.baner_prawy, .stopka3 {
    width: 10%;
    text-align: center;
}
.glowny{
    background-color: tan;
    padding:100px;
}
a {
    border:1px dashed sienna;
    background-color: tan;
    color:sienna;
    padding:40px;
    line-height: 150px;
}
ul{
    list-style-type: circle;
}