.kamien { 
           
background-image: url(./cegła1.png);

}
.papier {
    
    background-image: url(./papier1.png);
   
}
.nozyce {

    background-image: url(./nożyczki1.png);
}
.gameboard{ 
    text-align: center;
}
.panel_lewy, .panel_prawy{ 
    width:50%;
    float:left;
    color: powderblue;
}
.opcja1, .opcja2 {
    padding: 50px;

display: inline-block;
}
.btn.losuj  {
    padding: 15px 50px;
    width: 200px;
    height: 200px;
    background-image: url(./losuj.png);
}
body {
    background-image: url(./tło1.png);
    height: auto;
    width: auto;
}