body {
font-family: Tahoma;
    color: white;
}
.baner1, .baner3, .baner4{
    background-color: #983713;
    width: 17%;
    height: 100px;
    float: left;
}
.baner2{
    background-color: #983713;
    width:49%;
    height: 100px;
    text-align: center;
    float: left;
}
.lewy{
    background-color: #FF7F50;
    width: 80%;
    height: 500px;
    float: left;
}
.prawy{
    background-color: #FF7F50;
    width:20%;
    height: 500px;
    float: left;
}
.stopka{
    background-color: #983713;
    text-align: right;
}
button {
    border: 2px solid #2f2f2f;
    background-color: white;
    color: black;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
}
input{
    color: orangered;
}
a {
    color: orchid;
}
