body{
    font-family:Tahoma;
    color: white;
}
.baner1, .baner3, .baner4{
    background-color: #983713;
    width: 17%;
    height: 100px;
    text-align: center;
    float: left;
}
.baner2{
    float: left;
    background-color: #983713;
    width: 49%;
    height: 100px;
}
.blok_lewy{
    background-color:#FF7F50;
    width: 80%;
    height: 500px;
    float: left;
}
.blok_prawy{
    background-color:#FF7F50;
    width: 20%;
    height: 500px;
    float: left;
}
.stopka{
    background-color:#983713;
    text-align: right;
}
button{
    background-color: #D3D3D3;
    color:#2f2f2f;
    border: 2px solid #2f2f2f;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right:30px;
    padding-left:30px;
}

a{
    color:white;
}